<div class="form-horizontal"> 
  
  <yag-radius title="Radius" 
              iid="radius"
              enabled="element.radius.enabled"    
              value="element.radius.value"
              unit-value="element.radius.unit"
              units="lookups.units"></yag-radius>

  <yag-unit title="Thickness" 
            iid="bThickness"
            enabled="element.enabled"    
            value="element.thickness.value"
            unit-value="element.thickness.unit"
            units="lookups.units"></yag-unit>

  <yag-select title="Style" 
              iid="bSyle"
              enabled="element.enabled"    
              value="element.style"
              lookup="lookups.borderStyle"></yag-select>

  <yag-rgba title="Color" 
              iid="bColor"
              enabled="element.enabled"    
              value="element.color"></yag-rgba>
</div>