<div class="form-horizontal">
  <yag-trbl title="Padding" 
              iid="padding"
              enabled="element.padding.enabled"    
              value="element.padding.value"
              unit-value="element.padding.unit"
              units="lookups.units"></yag-trbl>
  <yag-trbl title="Margin" 
              iid="margin"
              enabled="element.margin.enabled"    
              value="element.margin.value"
              unit-value="element.margin.unit"
              units="lookups.units"></yag-trbl>
  <yag-unit title="Width" 
              iid="width"
              enabled="element.width.enabled"    
              value="element.width.value"
              unit-value="element.width.unit"
              units="lookups.units"></yag-unit>
  <yag-unit title="Height" 
              iid="height"
              enabled="element.height.enabled"    
              value="element.height.value"
              unit-value="element.height.unit"
              units="lookups.units"></yag-unit>
  <yag-select title="Box Sizing" 
              iid="bsizing"
              enabled="element['box-sizing'].enabled"    
              value="element['box-sizing'].value"
              lookup="lookups.boxSizing"></yag-select>
</div>