<div class="form-horizontal">
    <yag-unit title="Horizontal" 
              iid="{{idp}}Horizontal"
              enabled="element.enabled"    
              value="element.horizontal.value"
              unit-value="element.horizontal.unit"
              units="lookups.units"></yag-unit>
    <yag-unit title="Vertical" 
              iid="{{idp}}Vertical"
              enabled="element.enabled"    
              value="element.vertical.value"
              unit-value="element.vertical.unit"
              units="lookups.units"></yag-unit>
    <yag-unit title="Blur" 
              iid="{{idp}}Blur"
              enabled="element.blur.enabled"    
              value="element.blur.value"
              unit-value="element.blur.unit"
              units="lookups.units"></yag-unit>
    <yag-unit title="Spread" 
              iid="{{idp}}Spread"
              enabled="element.spread.enabled"    
              value="element.spread.value"
              unit-value="element.spread.unit"
              units="lookups.units"></yag-unit>
    <yag-rgba title="Color" 
              iid="{{idp}}Color"
              enabled="element.enabled"    
              value="element.color"></yag-rgba>
    <yag-bool title="Inset" 
              iid="{{idp}}inset"  
              enabled="element.enabled"
              value="element.inset"></yag-bool>   
</div>