<div class="form-horizontal">
  <yag-select title="Gradient Type" 
              iid="gType"
              enabled="true"    
              value="element['gradient-type']"
              lookup="lookups.gradientTypes"></yag-select>
  <yag-select title="Direction" 
              iid="gDirections"
              enabled="true"    
              value="element.direction"
              lookup="lookups.gradientDirections"></yag-select>
    <yag-gradient title="Stops" 
              iid="gStops"
              enabled="true"    
              values="element.stops"></yag-gradient>
</div>