<div class="form-horizontal">
      <yag-select title="Position" 
            iid="position"
            enabled="element.position.enabled"    
            value="element.position.value"
            lookup="lookups.position"></yag-select>                
      <yag-unit title="Top" 
                  iid="top"
                  enabled="element.top.enabled"    
                  value="element.top.value"
                  unit-value="element.top.unit"
                  units="lookups.units"></yag-unit>
      <yag-unit title="Right" 
                  iid="right"
                  enabled="element.right.enabled"    
                  value="element.right.value"
                  unit-value="element.right.unit"
                  units="lookups.units"></yag-unit>
      <yag-unit title="Bottom" 
                  iid="bottom"
                  enabled="element.bottom.enabled"    
                  value="element.bottom.value"
                  unit-value="element.bottom.unit"
                  units="lookups.units"></yag-unit>
      <yag-unit title="Left" 
                  iid="left"
                  enabled="element.left.enabled"    
                  value="element.left.value"
                  unit-value="element.left.unit"
                  units="lookups.units"></yag-unit>
</div>     