<div class="form-horizontal">
  

  
  <yag-unit title="Indent" 
              iid="tIndent"
              enabled="element['text-indent'].enabled"    
              value="element['text-indent'].value"
              unit-value="element['text-indent'].unit"
              units="lookups.units"></yag-unit>
  <yag-unit title="Line Height" 
              iid="lineHeight"
              enabled="element['line-height'].enabled"    
              value="element['line-height'].value"
              unit-value="element['line-height'].unit"
              units="lookups.units"></yag-unit>
  <yag-unit title="Letter Spacing" 
              iid="tLetterSpacing"
              enabled="element['letter-spacing'].enabled"    
              value="element['letter-spacing'].value"
              unit-value="element['letter-spacing'].unit"
              units="lookups.units"></yag-unit>
  <yag-select title="Align" 
              iid="tAlign"
              enabled="element['text-align'].enabled"    
              value="element['text-align'].value"
              lookup="lookups.align"></yag-select>
  <yag-select title="Transform" 
              iid="tTransform"
              enabled="element['text-transform'].enabled"    
              value="element['text-transform'].value"
              lookup="lookups.textTransform"></yag-select>
  <yag-select title="Decoration" 
              iid="tDecoration"
              enabled="element['text-decoration'].enabled"    
              value="element['text-decoration'].value"
              lookup="lookups.textDecoration"></yag-select>
  <yag-select title="White Space" 
              iid="tWhiteSpace"
              enabled="element['white-space'].enabled"    
              value="element['white-space'].value"
              lookup="lookups.whiteSpace"></yag-select>
  <yag-rgba title="Color" 
              iid="tColor"
              enabled="element.color.enabled"    
              value="element.color.value"></yag-rgba>
</div>