<div class="accordion-inner form-horizontal"> 
  
  <yag-radius title="Radius" 
              iid="radius"
              enabled="style.border.radius.enabled"    
              value="style.border.radius.value"
              unit-value="style.border.radius.unit"
              units="lookups.units"></yag-radius>

  <yag-unit title="Thickness" 
            iid="bThickness"
            enabled="style.border.enabled"    
            value="style.border.thickness.value"
            unit-value="style.border.thickness.unit"
            units="lookups.units"></yag-unit>

  <yag-select title="Style" 
              iid="bSyle"
              enabled="style.border.enabled"    
              value="style.border.style"
              lookup="lookups.borderStyle"></yag-select>

  <yag-rgba title="Color" 
              iid="bColor"
              enabled="style.border.enabled"    
              value="style.border.color"></yag-rgba>
</div>