<div class="accordion-inner form-horizontal">
  <yag-trbl title="Padding" 
              iid="padding"
              enabled="style.boxModel.padding.enabled"    
              value="style.boxModel.padding.value"
              unit-value="style.boxModel.padding.unit"
              units="lookups.units"></yag-trbl>
  <yag-trbl title="Margin" 
              iid="margin"
              enabled="style.boxModel.margin.enabled"    
              value="style.boxModel.margin.value"
              unit-value="style.boxModel.margin.unit"
              units="lookups.units"></yag-trbl>
  <yag-unit title="Width" 
              iid="width"
              enabled="style.positioning.width.enabled"    
              value="style.positioning.width.value"
              unit-value="style.positioning.width.unit"
              units="lookups.units"></yag-unit>
  <yag-unit title="Height" 
              iid="height"
              enabled="style.positioning.height.enabled"    
              value="style.positioning.height.value"
              unit-value="style.positioning.height.unit"
              units="lookups.units"></yag-unit>
</div>