<div class="accordion-inner form-horizontal">
                <yag-select title="Position" 
                            iid="position"
                            enabled="style.positioning.position.enabled"    
                            value="style.positioning.position.value"
                            lookup="lookups.position"></yag-select>                
                <yag-unit title="Top" 
                            iid="top"
                            enabled="style.positioning.top.enabled"    
                            value="style.positioning.top.value"
                            unit-value="style.positioning.top.unit"
                            units="lookups.units"></yag-unit>
                <yag-unit title="Right" 
                            iid="right"
                            enabled="style.positioning.right.enabled"    
                            value="style.positioning.right.value"
                            unit-value="style.positioning.right.unit"
                            units="lookups.units"></yag-unit>
                <yag-unit title="Bottom" 
                            iid="bottom"
                            enabled="style.positioning.bottom.enabled"    
                            value="style.positioning.bottom.value"
                            unit-value="style.positioning.bottom.unit"
                            units="lookups.units"></yag-unit>
                <yag-unit title="Left" 
                            iid="left"
                            enabled="style.positioning.left.enabled"    
                            value="style.positioning.left.value"
                            unit-value="style.positioning.left.unit"
                            units="lookups.units"></yag-unit>
              </div>